<div class="main__window">
    <div class="container">
        <div class="main__window__video">
            <div class="form__video">
                <input type="text" class="important_inputs" id="title" name="title" placeholder="title">
                <input type="text" class="important_inputs" id="status" name="status" placeholder="status">
              <input type="number" class="important_inputs" id="rating" name="rating" placeholder="rating">
                <input type="text" class="important_inputs" id="studio" name="studio" placeholder="studio">
                <input type="text" class="important_inputs" id="type" name="type" placeholder="type">
                <input type="number" class="important_inputs" id="series" name="series" placeholder="series">
                <input type="button" id="video_send" value="добавить">
            </div>
            <div class="file__upload">
                <input type="file" id="imgInp" class="important_inputs" name="upload" placeholder="" style="display: none;">
                <img id='blah' src="../img/upload_photo.png" alt="">
            </div>
        </div>

        <div class="table__container">
            <table class="user_list" border="">
                <thead class="user_list_head">
                    <th class="user_list_head_column">Name</th>
                    <th class="user_list_head_column">Role</th>
                    <th class="user_list_head_column">Date</th>
                </thead>
                <tbody class="userlist_body">
                    {{#each users}}
                    <tr>
                        <td class="user_list_user">{{username}}</td>
                        <td class="user_list_user">{{role}}</td>
                        <td class="user_list_user">none</td>
                        <td></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
 <link rel="stylesheet" href="../style/administrator_style.css">
<script src="../src/administrator_form.js"></script>