<div class="main__window">
    <div class="container">
        <div class="main__window__video">
            <div class="form__video">
                <input type="text" class="important_inputs" id="title" placeholder="title">
                <input type="text" class="important_inputs" id="status" placeholder="status">
              <input type="number" class="important_inputs" id="rating" placeholder="rating">
                <input type="text" class="important_inputs" id="studio" placeholder="studio">
                <input type="text" class="important_inputs" id="type" placeholder="type">
                <input type="number" id="series" placeholder="series">
                <input type="button" id="video_send" value="добавить">
            </div>
            <div class="file__upload">
                <form action="/video/new/image" enctype="multipart/form-data" method="post"></form>
                <input type="file" id="imgInp" placeholder="" style="display: none;">
                <img id='blah' src="../img/upload_photo.png" alt="">
                <button type="submit" id="image_submit" style="display: none;"></button>
            </div>
        </div>

        <div class="table__container">
            <table class="user_list" border="">
                <thead class="user_list_head">
                    <th class="user_list_head_column">Name</th>
                    <th class="user_list_head_column">Role</th>
                    <th class="user_list_head_column">Date</th>
                </thead>
                <tbody class="userlist_body">
                    {{#each users}}
                    <tr>
                        <td class="user_list_user">{{username}}</td>
                        <td class="user_list_user">{{role}}</td>
                        <td class="user_list_user">none</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    .main__window__video {
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        width: 800px;

    }

    .form__video {
        display: flex;
        flex-direction: column;
    }

    .form__video input:first-of-type {
        margin-top: 0;
    }

    .form__video input {
        margin: 5px;
        padding: 10px;
        width: 400px;
        max-width: 400px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    .form__video input[type='button'] {
        background-color: #3cce7b;
        border: none;
    }

    #blah {
        width: 330px;
        height: auto;
        border: #4169e1 1px solid;
        border-radius: 10px;
    }

    .table__container {
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    .user_list {
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
        table-layout: fixed;
        border-collapse: collapse;
        border: 3px solid green;
    }

    .user_list thead th {
        font-weight: 400;
    }
</style>

<script src="../src/administrator_form.js">


</script>