<div class="content__page">
  <div class="container">
    <div class="content__page__all">
      <div class="content__page__movie">
        <table class="tablemovie">
          <th></th>
          <th></th>
          <tr>
            <td>
              <h1>Дайкон</h1>
            </td>
          </tr>
          <tr>  
            <td>
              <h2>Daicon <span>Opening</span> Animations</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h3>Daikon</h3>
            </td>
          </tr>
          <tr>
            <td>
              <p>Hello</p>
            </td>
          </tr>
        </table>
        <img id="daicon" src="../img/daicon.jpg" alt="">
      </div>
      <iframe src="https://www.youtube.com/embed/7ps7IoJFMZo" allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen"
        oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" frameborder="0"></iframe>
    </div>
  </div>
</div>