<script src="../src/header_image_click.js" defer></script>
<header class="header">
  <div class="header__image">
    <div class="container">
    </div>
  </div>
  <div class="image__logo">
  <img src="../img/logo.png" alt="" class="image__logo__log" />
</div>
</header>