<div class="top__menu">
  <div class="container">
    <div class="top__menu__inner">
      <a href="#" class="top__menu__link">MENU</a>
      <a href="#" class="top__menu__link">MENU</a>
      <a href="#" class="top__menu__link">MENU</a>
      <a href="#" class="top__menu__link">MENU</a>
      <a href="#" class="top__menu__link">MENU</a>
    </div>
  </div>
</div>
{{#if search}}
<div class="top__search">
  <div class="container">
    <div class="search__back__ground">
      <input type="text" placeholder="Введите запрос" class="search" />
    </div>
  </div>
  {{/if}}
</div>