input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.main__window__video {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    width: 800px;

}

.form__video {
    display: flex;
    flex-direction: column;
}

.form__video input:first-of-type {
    margin-top: 0;
}

.form__video input {
    margin: 5px;
    padding: 10px;
    width: 400px;
    max-width: 400px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.form__video input[type='button'] {
    background-color: #3cce7b;
    border: none;
}

#blah {
    width: 330px;
    height: auto;
    border: #4169e1 1px solid;
    border-radius: 10px;
}

.table__container {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.user_list {
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid green;
}

.user_list thead th {
    font-weight: 400;
}